<!DOCTYPE html>
{% load leaflet_tags %}
<html>
  <head>
      <style>
            .leaflet-container {  
            width:  600px;
            height: 400px;
            }
      </style>
      {% leaflet_js %}
      {% leaflet_css %}
      <script type="text/javascript">
            function main_map_init (map, options) {
                var bounds = [{
                "type": "Feature",
                "properties": {"rbox": "rbox"},
                "geometry": {
                    "type": "Polygon",
                    "coordinates": [[
                    [
                      {{ form.llon.initial }},
                      {{ form.llat.initial }}
                    ],
                    [
                      {{ form.ulon.initial }},
                      {{ form.llat.initial }}
                    ],
                    [
                      {{ form.ulon.initial }},
                      {{ form.ulat.initial }}
                    ],
                    [
                      {{ form.llon.initial }},
                      {{ form.ulat.initial }}
                    ],
                    [
                      {{ form.llon.initial }},
                      {{ form.llat.initial }}
                     ]]
                    ]
                   }
                  }];

                 L.geoJSON(bounds, {
                    style: function(feature) {
                    return {color: "#ff0000"}
                    }
                 }).addTo(map);  
                
                 var drawnItems = new L.FeatureGroup();
                 map.addLayer(drawnItems);
                
                 var drawControl = new L.Control.Draw({
                     draw: {
                         polygon: false,
                         marker: false,
                         polyline: false,
                         circle: false
                     },
                     edit: {
                         featureGroup: drawnItems
                     }
                 });
                 map.addControl(drawControl);
                
                 map.on('draw:created', function (e) {
                    var type = e.layerType,
                    layer = e.layer;
                    layer.editing.enable()
                    map.addLayer(layer);
                 });
            }
      </script>
  </head>
  <body>
  <form action="/subset/results", method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    {% leaflet_map "main" callback="main_map_init" %}
    <br>
    <input type="submit" value="Submit">
   </form> 
  </body>
</html>